<h1>{{car.name}}</h1>
<img class="car" src="/static/cars/{{car.imageUrl}}">
<div class="details">
  <p><span>Description:</span>{{car.description}}</p>
  <p><span>Price:</span> {{car.price}}</p>
  <a class="btn" href="/">Back</a>
  {{#if isOwner}}
  <a class="btn" href="/edit/{{car.id}}">Edit</a>
  <a class="btn" id="del" href="/delete/{{car.id}}">Delete</a>
  <a class="btn" id="del" href="/details/{{car.id}}/attach-option">Attach Option</a>
{{/if}}
</div>
<h2>Options</h2>
<div class="options">
  {{#each car.options}}
  {{> attachedOption}}
  {{else}}
  <h3 class="italic">This car has no extra options yet...</h3>
  {{/each}}
</div>


<script src="/static/delBtn.js"></script>   