<div class="car">
        <img class="car" src="/static/cars/{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Price:</span>{{price}}</p>
        <a class="btn" href="/details/{{id}}">Details</a>
        <button class="btn">Show more</button>
        <div class="description"><p>{{description}}</p></div>
      </div>