{{#with cube}}
<h1>{{name}}</h1>
<img class="cube" src="{{imageUrl}}">
<div class="details">
  <p><span>Description:</span>{{description}}</p>
  <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
  <a class="btn" href="/">Back</a>
  <a class="btn" href="/edit/{{id}}">Edit</a>
  <a class="btn" href="/delete/{{id}}" id="delBtn">Delete</a>
</div>
<script src="../static/app.js"></script>
{{/with}}